body{
   /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,203,227,1) 100%, rgba(0,212,255,1) 100%);
	/*background-color:#dbe9ee ;*/
	font-family: sans-serif;
	background: rgb(177,177,180);
	background: linear-gradient(357deg, rgba(177,177,180,0.8456057007125891) 0%, rgba(240,242,242,1) 100%, rgba(203,203,227,1) 100%);
}

.container{
	position: absolute;
	text-align: center;
	color: white;
}
.title1,.title2{
	position: absolute;
	color: whitesmoke;	
}

.title1
{
	top: 750px;
	left: 8%;
	font-size: 5em;
}
.title2{
	top: 850px;
	left: 20%;
	font-size: 3em;
}
#imgBack{
	margin-top:5%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height:800px;
}
#start{
	text-align: center;
	margin-top: 50px;
	margin-bottom:200px;
	font-size: 2em;
	border-bottom-width: 2px;
	border-bottom-color: grey;
	border-bottom-style: solid;
	margin-left: 240px;
	margin-right: 240px;
}
#titleChildhood,#laboratoryTitle{
	text-align: right;
	margin-right: 18%;
}
#imgChildhood,#imgLaboratory{
	margin-left: 80px;
	width: 400px
}
#imgLaboratory{
	width: 300px;
}

.schoolText,.laboratoryText{
	float: right;
	width: 35%;
	text-align: center;
	margin-right: 80px;
	line-height:30px ;
	margin-bottom: 200px;
}

#imgAchievment{
	float: right;
	margin-right: 50px;
	width:200px;
}
.achievementText,.achievmentList{
	text-align: center;
	width: 35%;
	margin-left:40%;
	line-height:30px ;
}
.achievementList{
	margin-bottom: 200px;
}
.wrapper{
	height: 100px;
	display: grid;
	place-items: center;
}

.intro{
	width: 22ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}
#achievementTitle{
	margin-left: 52.5%;
}
.imgHover:hover{
	transform: scale(1.1);
	transition: all 2s;
}


.achievementList{
	text-align: center;
	margin-left: 30%;
	line-height:30px ;
	
}
.end{
	width: 80%;
	height: 250px;
	background: rgb(76,75,75);
	background: linear-gradient(356deg, rgba(76,75,75,0.8456057007125891) 0%, rgba(72,72,72,1) 62%, rgba(96,96,96,1) 100%, rgba(240,242,242,1) 100%);
	color: whitesmoke;
	font-size: 15px;
	line-height: 50px;
	padding-top: 5%;
	padding-right: 10%;
	padding-left: 10%;
	margin-top: 200px;
}
a:link,a:visited {
	background-color: ##4c4b4b;
	color: white;
	font-size: 15px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px;
	margin-left: 40%;
}

a:hover,a:active{
	background-color: whitesmoke;
	color: grey;

}
#copy{
	width: 100%;
	height: 70px;
	color: white;
	background: rgb(36,36,36);
	background: linear-gradient(356deg, rgba(36,36,36,0.8456057007125891) 0%, rgba(44,44,44,1) 69%, rgba(63,63,63,1) 100%, rgba(240,242,242,1) 100%);
	padding-top: 5px;
}